.main-menu-icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}


.main-menu-icon-close{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 1000px){
    .main-menu-icon{
        margin-left: 30px;
        margin-top: 30px;
    }
    .main-menu-icon-close{
        margin-left: 30px;
        margin-top: 30px;
    }
}